<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header"></head>

<body>
	<div class="container-fluid" id="mainContainer">
		<nav th:replace="base :: common_nav(2)"></nav>

		<div class="panel panel-default">
			<div class="panel-body">

				<form method="GET" th:action="@{/}" class="inline-form">
					<div class="row">
						<div class="col-xm-12 col-md-12 col-lg-12">
							You are anwsered <span th:text="${result.correctAnswers}" class="topic"></span>
							of <span th:text="${result.totalAnswers}" class="topic"></span> items of the
							Quiz.
						</div>
					</div>
					<br />

					<button type="submit" class="btn btn-primary">New Quiz</button>
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="base :: common_footer"></footer>
</body>
</html>
