<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
<title>Quiz Irregular Verbs</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<style>
body {
	background-color: #eee;
}
.topic {padding:0.5em; border-radius:0.5em; background-color:#337ab7; color:white;}
.p-bar-1{width: 0;}
.p-bar-2{width: 100;}
.p-delay{height: 60px;float:left;bottom: 0;position:fixed;}
.green-hard{background-color: #1c1;}
.green-soft{background-color: #6c6;}
.red-hard{background-color: #c11;}
.red-soft{background-color: #c66;}
</style>
</head>
<body>
	<div class="container-fluid" id="mainContainer">
		<nav class="navbar navbar-inverse" th:fragment="common_nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Quiz Irregular Verbs</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ><a th:href="@{/verbs/list}">List</a></li>
						<li class="active"><a th:href="@{/quiz/init}">Quiz <span
								class="sr-only">(current)</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="POST">
			<div class="form-group">
				<label for="level">Level</label>
				<select id="level" name="level" th:value="${quiz.level}" class="form-control">
					<option value="10">Basic (10)</option>
					<option value="20">Moderate (20)</option>
					<option value="50">Intermediate (50)</option>
					<option value="100">Advanced (100)</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Start</button>
		</form>
			</div>
		</div>
	</div>
	<footer th:fragment="common_footer">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</footer>
</body>
</html>