<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quiz Irregular Verbs</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<style>
body {
	background-color: #eee;
}
.topic {padding:0.5em; border-radius:0.5em; background-color:#337ab7; color:white;}
.p-bar-1{width: 0;}
.p-bar-2{width: 100;}
.p-delay{height: 60px;float:left;bottom: 0;position:fixed;}
.green-hard{background-color: #1c1;}
.green-soft{background-color: #6c6;}
.red-hard{background-color: #c11;}
.red-soft{background-color: #c66;}
</style>
</head>
<body>
	<div class="container-fluid" id="mainContainer">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Irregular Verbs</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ><a th:href="@{/}">List</a></li>
						<li class="active"><a th:href="@{/verbs/init}">Quiz <span
								class="sr-only">(current)</span></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div th:class="${attempt.correct ? 'panel panel-success' : 'panel panel-danger'}">
			<div class="panel-heading" th:if="${attempt.correct}">It is correct!!</div>
			<div class="panel-heading" th:unless="${attempt.correct}">It is wrong!! The correct anwser is <span class="topic" th:text="${attempt.topic}"></span></div>
			<div class="panel-body">
				<form method="POST" action="next" class="inline-form">
				<input type="hidden" name="quiz.id" th:value="${attempt.quiz.id}" />
			<input type="hidden" name="id" th:value="${attempt.id}" />
			<div class="row"><div class="col-xm-12 col-md-12 col-lg-12">
				<div class="h4">Which <span th:text="${attempt.topicType}" class="topic"></span> is correct for <span th:text="${attempt.base}" class="topic"></span></div>
			</div></div>
			<br/>

<button id="btn-next" type="submit" class="btn btn-primary">Next</button>
		</form>
			</div>
		</div>
		<input type="hidden" id="timer" th:value="${attempt.correct ? '1000' : '2000'}" />
		<div th:if="${attempt.correct}" class="p-bar-1 p-delay green-hard"></div>
		<div th:if="${not attempt.correct}" class="p-bar-1 p-delay red-hard"></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>$(function(){var timer = $('#timer').val(); $( ".p-bar-1" ).animate({width: '100%'}, {duration:parseInt(timer), complete:function(){$('#btn-next').click()}});});</script>
</body>
</html>
